<?xml version = "1.0"?>
<robot name = "caster_xacro" xmlns:xacro = "http://www.ros.org/wiki/xacro">

  <!-- Include accessories -->
  <xacro:include filename = "$(find caster_description)/urdf/common_properties.xacro" />
  <xacro:include filename = "$(find caster_description)/urdf/iqr_caster.urdf.xacro" />
  <xacro:include filename = "$(find caster_description)/urdf/iqr_caster.gazebo.xacro" />

  <xacro:caster/>    
</robot>
