teleop:
  move:
    type: topic
    message_type: geometry_msgs/Twist
    topic_name: cmd_vel
    deadman_buttons: [0] # Y
    axis_mappings:
      -
        axis: 1
        target: linear.x
        scale: 0.5
      -
        axis: 0
        target: angular.z
        scale: 0.5
  dock:
    type: action
    action_name: /dock_action
    action_goal:
      dock: true
    buttons: [8] # BACK

  undock:
    type: action
    action_name: /dock_action
    action_goal:
      dock: false
    buttons: [9] # START