<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find caster_description)/urdf/caster.urdf.xacro" />

  <!-- Caster harware driver -->
  <node pkg="caster_base" type="caster_base_node" name="caster_base_node" output="screen">
    <param name="address" type="string" value="192.168.0.7" />
    <param name="port" type="int" value="20001" />
    <param name="can_id" type="int" value="1" />
    <param name="left_wheel_joint" type="string" value="drive_wheel_left_joint" />
    <param name="right_wheel_joint" type="string" value="drive_wheel_right_joint" />
    <remap from="caster_velocity_controller/cmd_vel" to="key_vel"/>
    <remap from="caster_velocity_controller/odom" to="odom"/>
  </node>

<!--   <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    <remap from="odom" to="caster_velocity_controller/odom"/>
  </node> -->

  <!-- Differential controller parameters and basic localization -->
  <include file="$(find caster_control)/launch/control.launch" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
     <param name="use_tf_static" value="false" />
     <param name="publish_frequency" value="10" />
  </node>

  <!--Teleop -->
  <!-- <include file="$(find caster_control)/launch/teleop.launch" /> -->

  <!-- Viz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find caster_description)/viz/view.rviz" />
</launch>
