<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen"/>
  
  <node pkg="joy" type="joy_node" name="joy_node" output="$(arg log_type)">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="autorepeat_rate" type="double" value="10" />
  </node>

  <rosparam command="load" file="$(find caster_control)/config/joy_teleop.yaml" />
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop_node" output="$(arg log_type)"/>
</launch>
