<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen"/>
  
  <!-- Arguments -->
  <arg name="map_file" default="$(find caster_navigation)/map/b202.yaml"/>
  <arg name="rviz" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="$(arg log_type)" />

  <!-- AMCL -->
  <include file="$(find caster_navigation)/launch/amcl.launch.xml" >
    <arg name="log_type" value="$(arg log_type)"/>
  </include>

  <!-- move_base -->
  <include file="$(find caster_navigation)/launch/move_base.launch.xml">
    <arg name="log_type" value="$(arg log_type)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find caster_viz)/viz/navigation.rviz" output="$(arg log_type)"/>
  </group>
</launch>
